/* purgecss start ignore */
@import "tailwindcss/base";
/* purgecss end ignore */

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.blockquote:before {
  content: open-quote;
  font-size: 10em;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  @apply font-serif;
}

.blockquote {
  quotes: "\201C""\201D""\2018""\2019";
}

.blockquote p {
  @apply mt-5;
}

.blockquote cite {
  @apply text-right;
}

.stylistic-quote-mark {
  font-size: 10rem;
  /* right: 90%; */
  @apply font-serif text-gray-300 absolute top-0 left-0 leading-none opacity-25;
}

.stylistic-quote-mark-bottom {
  font-size: 10rem;
  left: 80%;
  @apply font-serif text-gray-900 absolute bottom-0 right-0 leading-none opacity-25;
}

@screen sm {
  .stylistic-quote-mark {
    @apply block;
  }
}
